/* Add CSS styles here */
.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 2px;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    text-align: center;
    line-height: 20px;
}

.babyblue {
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    
}
